/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
html {
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    -o-moz-scroll-behavior: smooth;
    scroll-behavior: smooth;
    position: relative;
    min-height: 100vh;
}

body {
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    // background-color: #000;
}